body
{

  background-image: url(Images/cover.jpg);
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
  height: 400px;
  margin-top:50px;

}


.img1
{

  margin-left: 20px;
}
.had
{
  font-size: 40px;
  margin-left: 450px;
  color:white;
}
.had1
{
  margin-top: -10px;
  margin-left: 100px;
}
.had2
{
    margin-top: -5px;
    margin-left: 100px;
}
.btn
{
  margin-left: 100px;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}
.hr1
{
     border-style: none;
     border-color: #222831;
     border-top-style: dotted;
     border-width: 15px;
     width: 15%;
}
.hr2
{
     border-style: none;
     border-color: #222831;
     border-top-style: dotted;
     border-width: 15px;
     width: 15%;
}
.hr3
{
     border-style: none;
     border-color: #222831;
     border-top-style: dotted;
     border-width: 15px;
     width: 15%;
}
.hr4
{
     border-style: none;
     border-color: #222831;
     border-top-style: dotted;
     border-width: 15px;
     width: 15%;
}
.hr5
{
     border-style: none;
     border-color: #222831;
     border-top-style: dotted;
     border-width: 15px;
     width: 15%;
}
.hr6
{
     border-style: none;
     border-color:#222831;
     border-top-style: dotted;
     border-width: 15px;
     width: 15%;
}
.tab
{
  margin-bottom: 100px
  margin-left: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}
